# key value pairs, use tab between key and value
account	theaddress@gmail.com
path	d:/path/to/pictures
gab	c:/Users/Administrator/AppData/Local/Google/Google+ Auto Backup/
exe	c:/Program Files/Google/Google+ Auto Backup/Google+ Auto Backup.exe
